<div class="navigate-back">
  <button routerLink="search" mat-raised-button color="warn">Change Location</button>
</div>
<div class='restaurant-list'>
  <div class="restaurant-card" *ngFor="let restaurant of restaurants" (click)="selectRestaurant(restaurant)">
    <div class="restaurant-card-thumb">
      <img [src]="restaurant.restaurant.thumb" alt={{restaurant.name}}>
    </div>
    <section class="restaurant-card-content">
      <h3 class="mat-h3 mat-subheading-2">{{restaurant.restaurant.name}}</h3>
      <button mat-icon-button>
        <mat-icon class="liked" *ngIf="restaurant.restaurant.liked" color="accent" aria-label="icon-button with a heart icon">favorite</mat-icon>
      </button>
      <section class="restaurant-card-info">
        <button mat-flat-button color="accent">{{restaurant.restaurant?.user_rating?.aggregate_rating}}&nbsp;/&nbsp;5</button>
        <span class="mat-h4 mat-subheading-1">&nbsp;&nbsp;{{restaurant.restaurant?.user_rating?.votes}}&nbsp;votes</span>
      </section>
    </section>
  </div>
</div>