<div class='reviews-list'>
  <h4 class="mat-h1 mat-headline">Critics Speaks...</h4>
  <ng-content></ng-content>
  <mat-list *ngFor="let review of reviews">
    <mat-list-item>
      <img matListAvatar src="{{review.review.user.profile_image}}" alt="{{review.review.user.name}}">
      <h4 mat-line>{{review.review.user.name}}</h4>
      <p mat-line style.color="#{{review.review.user.foodie_color}}">Foodie Meter:
        &nbsp;{{review.review.user.foodie_level}}</p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line style.color="#{{review.review.rating_color}}">
        Says: {{review.review.rating_text}}
        and
        Rated&nbsp;&nbsp;&nbsp;<button mat-stroked-button style.color="#{{review.review.rating_color}}"
          style.border-color="#{{review.review.user.foodie_color}}">{{review.review.rating}}</button>
      </h4>
    </mat-list-item>
    <div style="padding-left: 16px; margin-top: 10px; margin-bottom: 10px;">
      {{review.review.review_text}}
    </div>
    <mat-divider></mat-divider>
  </mat-list>
</div>