<div class="search-container">
  <section class="search-field">
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput
             placeholder="Search for your city">
    </mat-form-field>
  </section>
  <div class="popular-cities-container">
    <mat-card>
      <mat-card-title>Popular Cities</mat-card-title>
      <mat-card-content>
        <button mat-raised-button
                color="primary">Kolkata</button>
        <button mat-raised-button
                matRipple
                color="accent">Mumbai</button>
        <button mat-raised-button
                color="primary">Delhi</button>
        <button mat-raised-button
                color="accent">Pune</button>
        <button mat-raised-button
                color="primary">Bangalore</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>