<div class="search-container">
  <section class="search-bar">
    <form class="search-box">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput (input)="search($event.target.value)" [formControl]="myControl" [matAutocomplete]="auto"
          placeholder="Search for your city">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let city of cities" [value]="city.name" (click)="selectCity(city)" (onSelectionChange)="selectCity(city)">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </section>
</div>