.search-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 80%;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 60%;
}

mat-form-field {
  width: 100%;
}
